{% extends 'base.html' %}

{% block body %}
<div class="container">
	<div class="card mx-auto" style="width:400px">
		<div class="card-body text-center login-sec">
			<h2>User Sign in</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-success">Sign in</button>
			</form>
			<div class="or-seperator"><b>or</b></div>
			<div><h6>Don't have an account?</h6></div>
			<a href="{% url 'accounts:signup'%}" class="btn btn-primary">Signup</a>
		</div>
	</div>
</div>
{% endblock %}