{% extends 'base.html' %}
{% block body %}
<div class="container">
      <div class="row">
          <div class="col-3"></div>
        <div class="col-6 text-center">
          <h1>Admin actions</h1>
          <ul class="list-group">
            <li class="list-group-item">
              <a class="active" href="{% url 'add_quiz' %}">Add quiz</a></li>
            <li class="list-group-item"><a class="active" href="{% url 'add_question' %}">Add Question</a></li>
              <li class="list-group-item"><a class="active" href="{% url 'choose_question' %}">Add Answers</a></li>
          </ul>
        </div>
          <div class="col-3"></div>
      </div>
    </div>
{% endblock %}
{% block js %}
{% if alert %}
alert('{{ message }}');
{% endif %}
{% endblock %}